.Home {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
}

.Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    background-color: #282c34;
    height: auto;
    color: white;
}

.Home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 1vmin);
}

.Checkout-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.AllDeals {
    display: flex;
    border: 1px solid #000;
    background-color: #282c34;
    height: auto;
    width: 90%;
    margin: auto;
}

.box1 {
    height: auto;
    width: 33.49%;
    float: left;
}

.box1 img {
    height: 43vh;
    width: 100%;
}

.box2 {
    height: auto;
    width: 33.51%;
    float: right;
}

.box2 img {
    height: 43vh;
    width: 100%;
}

.box3 {
    height: auto;
    width: 33%;
    float: right;
}

.box3 img {
    height: 43vh;
    width: 100%;
}

.chk {
    text-align: center;
}

.Login {
    background-color: #282c34;
    color: white;
    text-align: center;
    height: 100vh;
}

.DashButtons {
    height: 30vh;
    width: 43vh;
    color: dimgray;
}

.InputField {
    height: 5vh;
    width: 93vh;
}

.CircleButton {
    border-radius: 10vh;
    height: 30vh;
    width: 30vh;
}

.Table {
    border: 1px solid white;
    padding: solid white 12px;
    font-size: 30px;
}